<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="migrarDatosContables.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="DBEntidades" connectionString="metadata=res://*/dbOfimatica.csdl|res://*/dbOfimatica.ssdl|res://*/dbOfimatica.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hestia;initial catalog=PLASMARSA;persist security info=True;user id=ofimatica;password=ofimatica;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="migrarDatosContables.Properties.Settings.PLASMARSAConnectionString"
      connectionString="Data Source=hestia;Initial Catalog=PLASMARSA;Persist Security Info=True;User ID=ofimatica;Password=ofimatica"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <migrarDatosContables.Properties.Settings>
      <setting name="Servidor" serializeAs="String">
        <value>Hestia</value>
      </setting>
      <setting name="defaultDB" serializeAs="String">
        <value>plasmarsa</value>
      </setting>
      <setting name="Rutapreintegracion" serializeAs="String">
        <value>P:\RECURSOS HUMANOS\SIGH\Nominas\</value>
      </setting>
      <setting name="Integrar" serializeAs="String">
        <value>True</value>
      </setting>
    </migrarDatosContables.Properties.Settings>
  </applicationSettings>
</configuration>