<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CalidadTintas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <CalidadTintas.Properties.Settings>
            <setting name="Servidor" serializeAs="String">
                <value>Hestia</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>Plasmarsa</value>
            </setting>
            <setting name="dbUser" serializeAs="String">
                <value>ofimatica</value>
            </setting>
            <setting name="dbPassword" serializeAs="String">
                <value>ofimatica</value>
            </setting>
            <setting name="LoteObligatorio" serializeAs="String">
                <value>True</value>
            </setting>
        </CalidadTintas.Properties.Settings>
    </applicationSettings>
</configuration>