<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RegistroRetal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <RegistroRetal.Properties.Settings>
            <setting name="Servidor" serializeAs="String">
                <value>hestia</value>
            </setting>
            <setting name="DB" serializeAs="String">
                <value>plasmarsa</value>
            </setting>
            <setting name="Usuario" serializeAs="String">
                <value>ofimatica</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>ofimatica</value>
            </setting>
            <setting name="Etiqueta" serializeAs="String">
                <value>etqRetal.frx</value>
            </setting>
            <setting name="maqExt" serializeAs="String">
                <value>1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17</value>
            </setting>
            <setting name="maqImp" serializeAs="String">
                <value>1,2,7,8,9,10</value>
            </setting>
            <setting name="maqRef" serializeAs="String">
                <value>1,2,3,4,6,7,9</value>
            </setting>
            <setting name="maqSell" serializeAs="String">
                <value>1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16</value>
            </setting>
            <setting name="maqLam" serializeAs="String">
                <value>1,2</value>
            </setting>
        </RegistroRetal.Properties.Settings>
    </applicationSettings>
</configuration>
