<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dataccess.Properties.Settings.PLASMARSAConnectionString"
            connectionString="Data Source=hestia;Initial Catalog=PLASMARSA;Persist Security Info=True;User ID=ofimatica;Password=ofimatica"
            providerName="System.Data.SqlClient" />
        <add name="Dataccess.Properties.Settings.PLASMARSAConnectionString1"
            connectionString="Data Source=hestia;Initial Catalog=PLASMARSA;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="Dataccess.Properties.Settings.PLASMARSAConnectionString2"
            connectionString="Data Source=hestia;Initial Catalog=PLASMARSA;Persist Security Info=True;User ID=ofimatica;Password=ofimatica;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
        <add name="Dataccess.Properties.Settings.PLASMARSAConnectionString3"
            connectionString="Data Source=hestia;Initial Catalog=PLASMARSA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Dataccess.Properties.Settings.PLASMARSAConnectionString4"
            connectionString="Data Source=Hestia;Initial Catalog=PLASMARSA;Persist Security Info=True;User ID=ofimatica;Password=ofimatica"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>