<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IngresoMatPrima.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="IngresoMatPrima.Properties.Settings.PLASMARSAConnectionString" connectionString="Data Source=hestia;Initial Catalog=PLASMARSA;Persist Security Info=True;User ID=ofimatica;Password=ofimatica" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <IngresoMatPrima.Properties.Settings>
      <setting name="Servidor" serializeAs="String">
        <value>Hestia</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>Plasmarsa</value>
      </setting>
      <setting name="dbUser" serializeAs="String">
        <value>ofimatica</value>
      </setting>
      <setting name="dbPassword" serializeAs="String">
        <value>ofimatica</value>
      </setting>
      <setting name="Etiqueta" serializeAs="String">
        <value>etqmatprima.frx</value>
      </setting>
      <setting name="VecesImprimeEtiqueta" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="pesoEstibaPlastica" serializeAs="String">
        <value>36.7</value>
      </setting>
      <setting name="pesoEstibaMadera" serializeAs="String">
        <value>28,9</value>
      </setting>
      <setting name="validarSegundoproducto" serializeAs="String">
        <value>False</value>
      </setting>
    </IngresoMatPrima.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>