<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MezclasExt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <applicationSettings>
        <MezclasExt.Properties.Settings>
            <setting name="Servidor" serializeAs="String">
                <value>Hestia</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>Plasmarsa</value>
            </setting>
            <setting name="dbUser" serializeAs="String">
                <value>ofimatica</value>
            </setting>
            <setting name="dbPassword" serializeAs="String">
                <value>ofimatica</value>
            </setting>
            <setting name="rbExt16" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbExt15" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbExt14" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbExt13" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbExt17" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbExt12" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbExt11" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbExt10" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbExt09" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbExt08" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbExt07" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbExt06" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbExt05" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbExt04" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbExt03" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbExt02" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbExt01" serializeAs="String">
                <value>True</value>
            </setting>
        </MezclasExt.Properties.Settings>
    </applicationSettings>
</configuration>